@media (max-width: 1100px) {
    .top-bar {
        width: 100%;
        flex-wrap: wrap;
    }
    .top-bar .top-bar-section {
        flex-wrap: wrap;
    }
    .content-container {
        position: relative;
    }
    .right-sidebar {
        position: absolute;
        right: 0;
        z-index: 9;
    }
}
@media (max-width: 768px) {


}