<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>Title</title>

    <!-- Icons set -->
    <link rel="stylesheet" href="../static/css/fonts.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Media styles -->
    <link rel="stylesheet" href="../static/css/media.css">
</head>
<body>

<div class="top-bar">

    <div class="first-section top-bar-section">
        <nav class="nav-menu settings-menu">
            <ul>
                <li><a href="#" class="menu-btn pull-left app-menu-show-btn"><span class="icon-menu"></span></a></li>
            </ul>
        </nav>

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <span class="site-description">Title</span>

        <nav class="nav-menu settings-menu">
            <ul>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-plus"></span></a></li>
            </ul>
        </nav>
    </div>

    <div class="second-section top-bar-section">
        <nav class="nav-menu">
            <ul>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-plus"></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-members"></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-area-chart"></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-file"></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-envelope"></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-speaker"></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-search"></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-comments"></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-pin"></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-support"></span></a><span class="badge">2</span></li>
                <li><a href="#" class="menu-btn pull-left notification-sidebar-show-btn"><span class="icon-notification"></span></a><span class="badge">16</span></li>
            </ul>
        </nav>

        <div class="user-section">
            <a href="#" class="user-avatar thumbnail">
                <img src="../static/images/user-avatar.png" alt="">
            </a>
        </div>

        <nav class="nav-menu settings-menu">
            <ul>
                <li><a href="#" class="menu-btn pull-left right-sidebar-show-btn"><span class="icon-settings"></span></a></li>
            </ul>
        </nav>
    </div>

</div><!-- /.top-bar -->

<div class="container-fluid">
    <div class="row">
        <div class="content-container">
            <aside id="left_sidebar" class="sidebar left-sidebar">
                <div class="space-menu">
                    <div class="scrollbar-section">
                        <ul class="users-list self-avatar">
                            <li>
                                <a href="#" class="thumbnail user-avatar">
                                    <img src="../static/images/user-avatar.png" alt="">
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-list">
                            <li><a href="#" class="icon-wrapper"><span class="icon-comment"></span></a></li>
                            <li><a href="#" class="icon-wrapper"><span class="icon-calendar"></span></a></li>
                            <li><a href="#" class="icon-wrapper"><span class="icon-check"></span></a></li>
                            <li><a href="#" class="icon-wrapper"><span class="icon-check"></span></a></li>
                        </ul>
                        <ul class="users-list">
                            <li>
                                <a href="#" class="thumbnail user-avatar">
                                    <img src="../static/images/user-avatar.png" alt="">
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="icon-wrapper"><span class="icon-plus"></span></a>
                    </div>
                </div>
                <div class="app-menu">
                    <div class="scrollbar-section">
                        <div class="channels-widget">
                            <div class="title">
                                <span class="icon-comment"></span>
                                <span>Chat</span>
                                <span class="badge">999 <span class="plus">+</span></span>
                            </div>
                            <div class="info"><span>Channel</span><span class="channels-count">(5)</span><a href="#"><span class="icon-plus"></span></a></div>
                            <ul class="channels-list">
                                <li><a href="#">#Mission 0</a></li>
                                <li><a href="#">#Chatname</a></li>
                                <li><a href="#">#Mission 1</a></li>
                            </ul>
                        </div>
                        <div class="dates-widget">
                            <div class="title">
                                <span class="icon-calendar"></span>
                                <span>Agenda</span>
                            </div>
                            <ul class="dates-list">
                                <li><a href="#"><span class="icon-check"></span><span>Liste 1</span></a></li>
                                <li><a href="#"><span class="icon-check"></span><span>Liste 2</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="content_container">
                <div id="messages_container" class="messages_container" style="padding-bottom: 87px;">
                    <div class="scrollbar-section">
                        <div class="messages_wrapper">
                            <div class="day-divider">
                                <span>1 Septembre 2016</span>
                            </div>
                            <div id = "daymessages" class="day-messages">
                                {% raw content %}
                            </div>
                        </div>
                    </div>
                    <div class="messages_footer">
                        <form id = "chat-input" action="">
                            <div class="form-group">
                                <div class="input-wrapper">
                                    <div class="icon-wrapper">
                                        <span class="icon-paperclip"></span>
                                    </div>
                                    <textarea id="messageArea" class="form-control" rows="1" name="" id="" placeholder="Enter a message in #chatname"></textarea>
                                </div>
                                <span class="input-description">@member  #channel  [app]  /Task ID</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <aside id="right_sidebar" class="sidebar right-sidebar">
                <div class="scrollbar-section">
                    <div class="sidebar-content info-section">
                        <div class="sidebar-header">
                            <span class="title">#Chatname</span>
                            <span class="description">Created by <a href="#">member</a> on August 26th</span>
                            <a href="#" class="close-panel-button"><span class="icon-close"></span></a>
                        </div>
                        <ul id="dragableList" class="list-unstyled">
                            <li class="widget about">
                                <div class="widget-header collapse-control" data-toggle="collapse" href="#collapseAbout" aria-expanded="true" aria-controls="collapseAbout">
                                    <span class="icon-info"></span>
                                    <span class="title">About</span>
                                    <span class="collapse-icon icon-arrow-top"></span>
                                </div>
                                <div class="collapsible-section collapse in" id="collapseAbout">
                                    <div class="widget-content">
                                        <p>Lorem ipsum dolor sit amet</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="widget members">
                                <div class="widget-header collapse-control" data-toggle="collapse" href="#collapseMembers" aria-expanded="true" aria-controls="collapseMembers">
                                    <span class="icon-members"></span>
                                    <span class="title">Members</span>
                                    <a href="#"><span class="icon-plus"></span></a>
                                    <span class="collapse-icon icon-arrow-top"></span>
                                </div>
                                <span class="description">En ligne (2/28)</span>
                                <div class="collapsible-section collapse in" id="collapseMembers">
                                    <div class="widget-content">
                                        <ul class="users-list">
                                            <li><a href="#" class="thumbnail user-avatar"><img src="../static/images/user-avatar.png" alt=""></a><span>Member 1</span></li>
                                            <li><a href="#" class="thumbnail user-avatar"><img src="../static/images/user-avatar.png" alt=""></a><span>Member 2</span></li>
                                            <li><a href="#" class="thumbnail user-avatar"><img src="../static/images/user-avatar.png" alt=""></a><span>Member 3</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="widget shared-files">
                                <div class="widget-header collapse-control" data-toggle="collapse" href="#collapseSharedFiles" aria-expanded="true" aria-controls="collapseSharedFiles">
                                    <span class="icon-file"></span>
                                    <span class="title">Shared Files</span>
                                    <span class="collapse-icon icon-arrow-top"></span>
                                </div>
                                <div class="collapsible-section collapse in" id="collapseSharedFiles">
                                    <div class="widget-content">
                                        <div class="uploaded-file-wrapper">
                                            <div class="flex-container">
                                                <a href="#" class="uploaded-file">
                                                    <img src="../static/images/uploaded-img.png" alt="">
                                                </a>
                                                <div class="description">
                                                    <div class="file-info">
                                                        <a href="#" class="file-name">Informatique-Securite.jpg</a>
                                                        <span class="file-size">1.43 MB</span>
                                                    </div>
                                                    <div class="user-description">
                                                        <a href="#" class="user-name">arnauddsj</a>
                                                        <span>Aug 31st at 3:38 PM</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="widget pinned-items">
                                <div class="widget-header collapse-control" data-toggle="collapse" href="#collapsePinnedItems" aria-expanded="true" aria-controls="collapsePinnedItems">
                                    <span class="icon-pin"></span>
                                    <span class="title">Pinned Items</span>
                                    <span class="collapse-icon icon-arrow-top"></span>
                                </div>
                                <div class="collapsible-section collapse in" id="collapsePinnedItems">
                                    <div class="widget-content">
                                        <div class="pinned-item file-item">
                                            <div class="icon-wrapper">
                                                <span class="icon-blockqoute"></span>
                                            </div>
                                            <div>
                                                <div class="message-info"><a class="user-name" href="#">Member 2</a><span class="date">Aujourd'hui à 14:55</span></div>
                                                <div class="message-container">Lorem ipsum dolor sit amet</div>
                                            </div>
                                        </div>
                                        <div class="pinned-item message-item">
                                            <div class="icon-wrapper">
                                                <span class="icon-image"></span>
                                            </div>
                                            <div class="uploaded-file-wrapper">
                                                <div class="description">
                                                    <div class="file-description">
                                                        <a href="#" class="file-name">Informatique-Securite.jpg</a>
                                                        <span class="file-description">1.43 MB</span>
                                                    </div>
                                                    <div class="user-description">
                                                        <a href="#" class="user-name">arnauddsj</a>
                                                        <span>Aug 31st at 3:38 PM</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-ui.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="../static/js/core.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>

</body>
</html>