{% for message in messages %}
{% if message['from'] != '' %}
<div class="message-container">
    <a href="#" class="thumbnail user-avatar"><img src="../static/images/user-avatar.png" alt=""></a>
    <div class="message">
        <h6 id="username" hidden>{{ message["from"] }}"</h6>
        <div class="info"><a href="#" class="user-name">{{ message["from"] }}</a><span class="info">{% if message.get("date") %}{{ message["date"] }}{% end %}</span></div>
            <div id="mymessage">{% module Template("message.html", message=message) %}</div>
    </div>
    <div class="dropdown btn-group">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
        <ul class="dropdown-menu users-checklist-dropdown dropdown-menu-right">
            <li class="menu-visibility-option"><a href="#">Hide/Show #fileroom <i class="fa fa-eye" aria-hidden="true"></i><i class="fa fa-eye-slash" aria-hidden="true"></i></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Un-attache the file</a></li>
            <li><a href="#">Open a #fileroom</a></li>
            <li><a href="#">Download file</a></li>
            <li><a href="#">Add to filemanager</a></li>
        </ul>
    </div>
</div>
{% end %}
{% if message['from'] == ''%}
        <h6 id="username" hidden>{{ message["from"] }}"</h6>
            <div id="mymessage" class="messagefollow">
                <h6 id="username" hidden>{{ message["from"] }}"</h6>
                {% module Template("message.html", message=message) %}</div>
{% end %}
{% end %}
<!--<div class="message-container">
                                    <a href="#" class="thumbnail user-avatar"><img src="../static/images/user-avatar.png" alt=""></a>
                                    <div class="message">
                                        <div class="info"><a href="#" class="user-name">Member 1</a><span class="info">Aujourd'hui à 14:55</span></div>
                                        <div>Lorem ipsum dolor sit amet</div>
                                    </div>
                                    <div class="dropdown btn-group">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                                        <ul class="dropdown-menu users-checklist-dropdown dropdown-menu-right">
                                            <li class="menu-visibility-option"><a href="#">Hide/Show #fileroom <i class="fa fa-eye" aria-hidden="true"></i><i class="fa fa-eye-slash" aria-hidden="true"></i></a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Un-attache the file</a></li>
                                            <li><a href="#">Open a #fileroom</a></li>
                                            <li><a href="#">Download file</a></li>
                                            <li><a href="#">Add to filemanager</a></li>
                                        </ul>
                                    </div>
                                </div>-->