
{% for message in messages %}
{% if message.get('newday') %}
    <div class="daydate">
   <span>{% raw message['newday'] %}</span>
</div>
{% end %}
{% if message['from'] != '' %}
<div class="message-container">
    <a href="#" class="thumbnail user-avatar"><img src="../../static/images/user-avatar.png" alt=""></a>
    <div class="message">
        <h6 id="username" hidden>{{ message["from"] }}</h6>
        <h6 id="msgid" hidden>{{ message['_id'] }}</h6>
        <div class="info"><a href="#" class="user-name">{{ message["from"] }}</a><span class="info">{% if message.get("date") %}{{ message["date"] }}{% end %}</span></div>
        <div class="content-message">{% module Template("message.html", message=message) %}</div>
    </div>
    <div class="dropdown btn-group">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
        <ul class="dropdown-menu users-checklist-dropdown dropdown-menu-right">
            <li class="menu-visibility-option"><a href="#">Hide/Show #fileroom <i class="fa fa-eye" aria-hidden="true"></i><i class="fa fa-eye-slash" aria-hidden="true"></i></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/testpin?{{ message['_id'] }}&{{ RoomName }}">Pin itemd</a></li>
            {% if message['type'] == 'file' %}
            <li><a href="#">Open a #fileroom</a></li>

            <li><a href="#">Download file</a></li>
            <li><a href="#">Add to filemanager</a></li>
            {% end %}
        </ul>
    </div>
</div>
{% end %}
{% if message['from'] == ''%}
<div class="message-container messagefollow">
    <div class="message">
        <h6 id="username" hidden>{{ message["from"] }}</h6>
        <h6 id="msgid" hidden>{{ message['_id'] }}</h6>
        <div class="info"><a href="#" class="user-name">{{ message["from"] }}</a><span class="info">{% if message.get("date") %}{{ message["date"] }}{% end %}</span></div>
        <div class="content-message">{% module Template("message.html", message=message) %}</div>
    </div>
    <div class="dropdown btn-group">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
        <ul class="dropdown-menu users-checklist-dropdown dropdown-menu-right">
            <li class="menu-visibility-option"><a href="#">Hide/Show #fileroom <i class="fa fa-eye" aria-hidden="true"></i><i class="fa fa-eye-slash" aria-hidden="true"></i></a></li>
            <li role="separator" class="divider"></li>
            <form id="testpin" action="/{{ Appname }}/testpin" method="post">{% raw xsrf_form_html() %}</form>
            <li><button class = "btn btn-link btn-sm" form="testpin" name="pinning" value="{{ message['_id'] }}/{{ Appname }}{{ url }}">Pin item</button></li>
            {% if message['type'] == 'file' %}
            <input type = hidden value="{{ test = message['body'].split('/') }}
            {{ test[3] = test[3].split('"') }}">
            <li><a href="/fileroom?{{ message['_id'] }}">Open a #fileroom</a></li>
            <li><a href="/{{ test[1] }}/{{ test[2] }}/{{ test[3][0] }}" download>Download file</a></li>
            <li><a href="#">Add to filemanager</a></li>
            {% end %}
        </ul>
    </div>
</div>
{% end %}
{% end %}