
<li class="widget pinned-items">
    <div class="widget-header collapse-control" data-toggle="collapse" href="#collapsePinnedItems" aria-expanded="true" aria-controls="collapsePinnedItems">
        <span class="icon-pin"></span>
        <span class="title">Pinned Items</span>
        <span class="collapse-icon icon-arrow-top"></span>
    </div>
    <div class="collapsible-section collapse in" id="collapsePinnedItems">
        <div class="widget-content">
             {% for row in pins %}
            <div class="widget-item file-item">
                <div class="icon-wrapper">
                    <span class="icon-blockqoute"></span>
                </div>
                <div class="description">
                    <div class="message-info"><a class="user-name" href="#">{% raw row[3] %}</a><span class="date">{{ row[2] }}</span></div>
                    <div class="message-container">{% raw row[4] %}</div>
                </div>
                <div class="widget-item-menu">
                    <div class="dropdown btn-group">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                        <ul class="dropdown-menu users-checklist-dropdown dropdown-menu-right">
                            <li class="menu-visibility-option"><a href="#">Hide/Show #fileroom <i class="fa fa-eye" aria-hidden="true"></i><i class="fa fa-eye-slash" aria-hidden="true"></i></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/testunpin?{{ row[1] }}&{{ RoomName }}">Unpin</a></li>
                            <li><a href="#">Open a #fileroom</a></li>
                            <li><a href="#">Download file</a></li>
                            <li><a href="#">Add to filemanager</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            {% end %}
            <div class="widget-item message-item">
                <div class="icon-wrapper">
                    <span class="icon-image"></span>
                </div>
                <div class="uploaded-file-wrapper description">
                    <div class="file-description">
                        <a href="#" class="file-name">Informatique-Securite.jpg</a>
                        <span class="file-description">1.43 MB</span>
                    </div>
                    <div class="user-description">
                        <a href="#" class="user-name">arnauddsj</a>
                        <span>Aug 31st at 3:38 PM</span>
                    </div>
                </div>
                <div class="widget-item-menu">
                    <div class="dropdown btn-group">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                        <ul class="dropdown-menu users-checklist-dropdown dropdown-menu-right">
                            <li class="menu-visibility-option"><a href="#">Hide/Show #fileroom <i class="fa fa-eye" aria-hidden="true"></i><i class="fa fa-eye-slash" aria-hidden="true"></i></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Un-attache the file</a></li>
                            <li><a href="#">Open a #fileroom</a></li>
                            <li><a href="#">Download file</a></li>
                            <li><a href="#">Add to filemanager</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>