<li class="widget members">
                                <div class="widget-header collapse-control" data-toggle="collapse" href="#collapseMembers" aria-expanded="true" aria-controls="collapseMembers">
                                    <span class="icon-members"></span>
                                    <span class="title">Members</span>
                                    <div class="dropdown btn-group">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-plus"></span></a>
                                        <div class="dropdown-menu users-checklist-dropdown">
                                            <div class="title clearfix"><span class="pull-left">33 members selected</span><a class="dropdown-close-btn pull-right"><span class="icon-close"></span></a></div>
                                            <div class="search-group"><i class="fa fa-search" aria-hidden="true"></i><input type="search" id="sidebar-user-search" /></div>
                                            <div class="users-list">
                                                <div class="scrollbar-section">
                                                    <ul>
                                                        <li>
                                                            <label for="checkbox-user-1" class="clearfix">
                                                                <span class="styled-checkbox">
                                                                    <input id="checkbox-user-1" type="checkbox" class="checkbox-user-1" />
                                                                    <span class="icon-check"></span>
                                                                </span>
                                                                <span class="thumbnail user-avatar "><img src="../static/images/user-avatar.png" alt=""></span>
                                                                <span class="user-name">User 1</span>
                                                                <span class="user-status online"></span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label for="checkbox-user-2" class="clearfix">
                                                                <span class="styled-checkbox">
                                                                    <input id="checkbox-user-2" type="checkbox" class="checkbox-user-2" />
                                                                    <span class="icon-check"></span>
                                                                </span>
                                                                <span class="thumbnail user-avatar "><img src="../static/images/user-avatar.png" alt=""></span>
                                                                <span class="user-name">User 2</span>
                                                                <span class="user-status"></span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label for="checkbox-user-3" class="clearfix">
                                                                <span class="styled-checkbox">
                                                                    <input id="checkbox-user-3" type="checkbox" class="checkbox-user-3" />
                                                                    <span class="icon-check"></span>
                                                                </span>
                                                                <span class="thumbnail user-avatar "><img src="../static/images/user-avatar.png" alt=""></span>
                                                                <span class="user-name">User 3</span>
                                                                <span class="user-status online"></span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label for="checkbox-user-4" class="clearfix">
                                                                <span class="styled-checkbox">
                                                                    <input id="checkbox-user-4" type="checkbox" class="checkbox-user-4" />
                                                                    <span class="icon-check"></span>
                                                                </span>
                                                                <span class="thumbnail user-avatar "><img src="../static/images/user-avatar.png" alt=""></span>
                                                                <span class="user-name">User 4</span>
                                                                <span class="user-status"></span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label for="checkbox-user-5" class="clearfix">
                                                                <span class="styled-checkbox">
                                                                    <input id="checkbox-user-5" type="checkbox" class="checkbox-user-5" />
                                                                    <span class="icon-check"></span>
                                                                </span>
                                                                <span class="thumbnail user-avatar "><img src="../static/images/user-avatar.png" alt=""></span>
                                                                <span class="user-name">User 5</span>
                                                                <span class="user-status online"></span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label for="checkbox-user-6" class="clearfix">
                                                                <span class="styled-checkbox">
                                                                    <input id="checkbox-user-6" type="checkbox" class="checkbox-user-6" />
                                                                    <span class="icon-check"></span>
                                                                </span>
                                                                <span class="thumbnail user-avatar "><img src="../static/images/user-avatar.png" alt=""></span>
                                                                <span class="user-name">User 6</span>
                                                                <span class="user-status online"></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="collapse-icon icon-arrow-top"></span>
                                </div>
                                <span class="description">En ligne (2/28)</span>
                                <div class="collapsible-section collapse in" id="collapseMembers">
                                    <div class="widget-content">
                                        <ul class="users-list">
                                            {% for row in members %}
                                                <li><a href="#" class="thumbnail user-avatar"><img src="../static/images/user-avatar.png" alt=""></a><span>{% raw row[0] %}</span></li>
                                            {% end %}
                                            <li><a href="#" class="thumbnail user-avatar"><img src="../static/images/user-avatar.png" alt=""></a><span>Member 1</span></li>
                                            <li><a href="#" class="thumbnail user-avatar"><img src="../static/images/user-avatar.png" alt=""></a><span>Member 2</span></li>
                                            <li><a href="#" class="thumbnail user-avatar"><img src="../static/images/user-avatar.png" alt=""></a><span>Member 3</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>