<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>Title</title>
    <!-- the "./../../" at the start of each file is needed because we need to got back two directory higher to handle the room url processing right-->
    <!-- Icons set -->
    <link rel="stylesheet" href="./../../static/default/assets/css/fonts.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="./../../static/default/assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="./../../static/default/assets/css/normalize.css">
    <link rel="stylesheet" href="./../../static/default/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../../static/default/assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="./../../static/default/assets/css/emojionearea.min.css">
    <link rel="stylesheet" href="./../../static/default/assets/css/lightbox.css">
    <link rel="stylesheet" href="./../../static/default/assets/css/styles.css">
    <link rel="stylesheet" href="./../../static/default/assets/css/daydate.css">
    <link rel="stylesheet" href="./../../static/default/assets/css/nickname_supercharge.css">


    <!-- Media styles -->
    <link rel="stylesheet" href="./../../static/default/assets/css/media.css">

    <link rel="stylesheet" href="{{ draftcsspath }}">
</head>