<!DOCTYPE html>
<html lang="en">
{% module  Template("default/html/head.twig", draftcsspath=draftcsspath) %}
<body>
<!-- prothess bar -->

{#{% block ariane %}{% end %}#}
{% module Template("default/html/top-bar.twig", errormessage=errormessage) %}

<!-- /.top-bar -->
<div class="container-fluid">
    <div class="row">
        {#{% block menu %}{% end %}#}
        {#{% module Template( "../themes/default/html//menu.twig", menu=var_menu) %}#}
        <div class="app-container">

            {% module Template("default/html/left_sidebar.twig", urldict=urldict) %}
            {% module Template("default/html/app-menu.twig", AllUserNames=AllUserNames, appdict=appdict, iconvariable=iconvariable, currenturl=currenturl) %}
            {% module Template("default/html/content_container.twig", content=content, RoomName=RoomName, UserName=UserName) %}
            {% module Template("default/html/right_sidebar.twig", RoomName=RoomName, UserNames=UserNames, Filespath=Filespath, pinnedcontent=pinnedcontent) %}
            {#<div class="container-fluid">#}
                {#<div class="row">#}
                    {#<div class="col-sm-12">#}
                        {#{% block content %}{% end %}#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</div>

{#{% block modal %}{% end %}#}

{% module Template("default/html/foot.twig", machintruc=machintruc) %}


<!-- Scripts -->


</body>
</html>