<div class="top-bar">
    <div class="first-section top-bar-section">
        <nav class="nav-menu settings-menu">
            <ul>
                <li><a href="#" class="menu-btn pull-left app-menu-show-btn"><span class="icon-menu"></span></a></li>
            </ul>
        </nav>

        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#">Logo</a>-->
        </div>
        <!--<span class="site-description">Title
            {% if errormessage != 'None' %}
                <script>
                    alert('{{ errormessage }}')
                </script>
            {% end %}
        </span>-->

        <nav class="nav-menu settings-menu">
            <ul>
                <!--<li><a href="#" class="menu-btn pull-left"><span class="icon-plus"></span></a></li>-->
            </ul>
        </nav>
    </div>

    <div class="second-section top-bar-section">
        <nav class="nav-menu">
            <ul>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-plus"  hidden></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-members" hidden></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-area-chart" hidden></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-file" hidden></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-envelope" hidden></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-speaker" hidden></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-search" hidden></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-comments" hidden></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-pin" hidden></span></a></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-support" hidden></span></a><span class="badge" hidden></span></li>
                <li><a href="#" class="menu-btn pull-left"><span class="icon-notification" hidden></span></a><span id ="notif-badge" class="badge"></span></li>
            </ul>
        </nav>

        <div class="user-section">
            <a href="#" class="user-avatar thumbnail">
                <img src="./../../static/default/assets/images/user-avatar.png" alt="">
            </a>
        </div>

        <nav class="nav-menu settings-menu">
            <ul>
                <li><a href="#" class="menu-btn pull-left right-sidebar-show-btn"><span class="icon-settings"></span></a></li>
            </ul>
        </nav>
    </div>

</div><!-- /.top-bar -->